    <header class="header">
        <button class="header__button" id="btnNav" type="button">
            <i class="fas fa-bars"></i>
        </button>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="/lists" class="nav__link nav__link--active">
                <i class="fas fa-gifts"></i>
                My lists
            </a>
            <a href="#" class="nav__link" >
                <i class="fas fa-cogs"></i>
                Settings
            </a>
            <a href="#" class="nav__link" >
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
        <div class="nav__overlay"></div>
    </nav>