<div class="create_list_form">
<div id="user-lists">
    <div class="create_list_form">
    <div class="page_title">My events</div>
    {{#each events}} 
<div class="list-container">
    <div class="list-container">
        <div class="list_item">
            <a href="/events/{{this._id}}">{{this.name}}</a>
        </div>
        
        <div class="edit_item">
            <a href="/events/update/{{this._id}}"><i class="fas fa-edit"></i></a>
        </div>

        <div class="delete_item">
            <a href="/events/delete/{{this._id}}"><i class="fas fa-trash-alt red"></i></a>
        </div>
            
            
    </div>
    {{/each}}
    
        <a class="create_gift" class="btn_all_width" href="/events/create">Create a new event</a>

</div>
</div>