<div class="create_list_form">
<div id="user-lists">
    <div class="create_list_form">
    <div class="page_title">My events</div>
    {{#each events}} 
    <div class="list-container">
        <a href="/events/{{this._id}}">
            <div class="list_item">
            {{this.name}}
            </div>
        </a>

        <a href="/events/update/{{this._id}}">
            <div class="edit_item">
                <i class="fas fa-edit"></i>
            </div>
        </a>

        
        <a href="/events/delete/{{this._id}}">
            <div class="delete_item">
                <i class="fas fa-trash-alt red"></i>
            </div>
        </a>
            
            
    </div>
    {{/each}}
    
        <a class="create_gift btn_all_width" href="/events/create">Create a new event</a>

</div>
</div>