<form action="/events/update/{{event._id}}" method="post" class="create_list_form">
    <label for="event-update-name" name="name" >Name</label>
    <input type="text" name="name" id="event-update-name" value="{{event.name}}">
    <label for="event-update-description" name="description" >Description</label>
    <input type="text" name="description" id="event-update-description" value="{{event.description}}">
    <label for="event-update-date" name="date" >Date</label>
    <input type="date" name="date" id="event-update-date" value="{{event.truncdate}}">
    <button>Update the event</button>
</form>