{{> gift gift}}

    <form action="/gifts/book/{{gift._id}}" method="post">
        <label for="name">Your name</label>
        <input class="input" type="text" id="name" name="name">
        <label for="message">Your message:</label>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <button class="button-primary book-gift-btn">I'll buy the <i class="fas fa-gift"></i></button>
    </form>
  </div>
</div>