<div class="page_title">Welcome, {{req.user.name}} !</div>
 
<img src="/img/welcome.png" style="width: 100%;" alt="">

<p>Your profile is empty, our app will let you manage your wishlist, either by creating a list or creating an event. Such as christmas, marriage or an anniversary</p>

<div class="fix_btn">
    <button class="btn_all_width"><a href="/lists/create" class="fix_link_style_btn"><i class="fas fa-list-alt"></i>  Create a list</a></button>
<button class="btn_all_width"><a href="/events/create" class="fix_link_style_btn"><i class="fas fa-calendar-week"></i>  Create an event</a></button>
</div>
<h1>Hello</h1>
 
{{!-- <p>Welcome </p> --}}
