
<script>
    name = name.charAt(0).toUpperCase()
</script>

<h1>Welcome back, {{user.name}} !</h1>
 
<img src="/img/welcome.png" style="width: 400px;" alt="">

<button class="btn_all_width"><a href="/lists/create"> Create a list</a></button>
<button class="btn_all_width"><a href="/events/create">Create an event</a></button>
<h1>hey</h1>