<div id="user-lists">
    <div class="page_title">My lists</div>
    {{#each lists}} 
    <div class="list-container">
        <a href="/lists/{{this._id}}">{{this.name}}</a>
        <div id="event-crud">

            
            <a href="/lists/update/{{this._id}}"><i class="fas fa-edit" style="color:blue"></i></a>
            <a href="/lists/delete/{{this._id}}"><i class="fas fa-trash-alt red"></i></a>
        </div>
        
    </div>
    {{/each}}
    <div class="fixed-foot">
        <a href="/lists/create" class="create_list">Create a new list</a>
    </div>

</div>

