<div id="user-lists">
    <div class="page_title">My lists</div>
    {{#each lists}} 
    <div class="list-container">
        <a href="/lists/{{this._id}}">
            <div class="list_item"><strong>{{this.name}}</strong>'s list</div>
        </a>
        <a href="/lists/update/{{this._id}}" class="list-actions list-edit"></a>
            <div class="edit_item">
                <i class="fas fa-edit"></i>
            </div>
        </a>
        <a href="/lists/delete/{{this._id}}" class="list-actions list-delete">
            <div class="delete_item">
                <i class="fas fa-trash-alt red"></i>
            </div>
        </a>
    </div>
    {{/each}}
    <div class="fixed-foot">
        <a href="/lists/create" class="create_list">Create a new list</a>
    </div>
</div>