<div class="container">
    <div class="create_list_form">
        <h1>Your profile</h1>
        <form action="/profile" method="post">
            <label for="firstname">Firstname</label>
            <input class="input" type="text" id="firstname" name="name" value={{name}}>

            <label for="lastName">Lastname</label>
            <input class="input" type="text" id="lastName" name="lastName" value={{lastName}}>

            <label for="email">Email</label>
            <input class="input" type="text" id="email" name="email" value={{email}} readonly>

            <button class="btn_all_width">Validate changes</button>
        </form>
        <button class="delete_list">Delete profile</button>
    </div>  
</div>