<form action="/signin" method="POST">
<div class="create_list_form">
 <label for="email">Email:</label>
 <input type="text" name="email" placeholder="Your email" value="augustin.leman@gmail.com">
 
 <label for="password">Password:</label>
 <input type="password" name="password" placeholder="********" value="motdepasse">
 
 {{#if errorMessage}}
 <div class="error-message">{{errorMessage}}</div>
 {{/if}}
 <button class="btn_all_width">Log in</button>

 <p>You don't have an account? <a href="/signup">Sign up here</a></p>



</div>
</form>