@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

textarea {
  border: 1px solid rgb(194, 194, 194);
  padding: 15px;
  border-radius: 3px;
  width: 100%;
}

select {
  border: 1px solid rgb(194, 194, 194);
  padding: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3967ff;
  border: none;
  color: white;
  padding: 10px;
}

.container {
  margin: 10px;
  padding-top: 50px;
}

#page_title {
  align-self: center;
}

/* .btn {
  height: 120px;
  width: 500px;
  background-color: #2BBFFF;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
} */

.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #3967ff;
  display: flex;
  z-index: 1;
}

.header__button {
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  transform: translateX(-250px);
  transition: transform 0.3s;
  padding-top: 50px;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #252525;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #3967ff;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.list {
  padding-bottom: 60px;
}

.manage-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.event-list-container {
  margin-bottom: 20px;
}

.event-list-container > h2 {
  background-color: #3967ff;
  margin-bottom: 10px;
  padding: 10px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  /* padding: 10px ;
  margin: 10px ; */
  /* border-radius: 3px; */
  color: rgb(26, 26, 26);
  width: 100%;
}

.list-item:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.list_item {
  display: inline-block;
  border: 1px solid rgb(194, 194, 194);
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  width: 70vw;
  /* text-align: center; */
}

.edit_item {
  color: #3967ff !important;
  display: inline-block;
  border: 1px solid #3967ff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  width: 10vw;
  text-align: center;
}

.delete_item {
  text-align: center;
  display: inline-block;
  border: 1px solid rgb(255, 141, 141);
  padding: 10px;

  border-radius: 3px;
  width: 10vw;
}

.red {
  color: rgb(255, 122, 122);
}

.gift_list {
  border: 1px solid rgb(194, 194, 194);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(26, 26, 26);
  list-style: none;
  margin-bottom: 10px;
  height: 200px;
  border-radius: 3px;
}

/* .gift_list:hover {
  cursor: pointer;
} */

.gift_image {
  object-fit: cover;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
}

.gift_name {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  text-align: right;
}
.gift_price {
  position: absolute;
  right: 0;
  top: 10%;
  padding: 10px;
  text-align: right;
}
.state {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: left;
}

.not-bought {
  padding: 2px;
  background-color: white;
  border: 1px solid #3967ff;
  color: #3967ff;
  border-radius: 2px;
  padding: 5px;
  font-size: 14px;
}

.bought {
  
  font-size: 14px;
  color: black;

}

.create_list {
  color: white;
  position: fixed;
  bottom: 0px;
  background-color: #3967ff;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  bottom: 0px;
  text-align: center;
  height: 40px;
}

.fixed-foot {
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.add_gift select {
  width: 80%;
  border-radius: 3px 0 0 3px;
  color: rgb(26, 26, 26);
  padding: 5px;
}

.add_gift button {
  width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
}

.add_gift {
  width: 100%;
  display: flex;
}

.form_style {
  padding-top: 10px;
  float: left;
}

.form_style input {
  width: 420px;
  height: 50px;
}

.form_style button {
  background-color: #3967ff;
  width: 50px;
  height: 50px;
}

.delete_list {
  color: white;
  position: fixed;
  background-color: rgb(255, 122, 122);
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  bottom: 0px;
  right: 0px;
  height: 40px;
}

.list_title {
  padding-bottom: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 3px;
}

select {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 16px;
}

.create_gift {
  color: white;
  position: fixed;
  background-color: #3967ff;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  bottom: 0px;
  left: 0px;
}

.btn_all_width {
  width: 100%;
  background-color: #3967ff;
  border: none;
  height: 47px;
  border-radius: 3px;
  color: white;
  margin: 5px 0 15px 0;
  font-weight: bold;
  cursor: pointer;
}

.btn_all_width_sec {
  width: 100%;
  background-color: white;
  border: 1px solid #3967ff;
  height: 47px;
  border-radius: 3px;
  color: #3967ff;
  margin: 5px 0 15px 0;
  font-weight: bold;
  cursor: pointer;
}

.container_header {
  text-align: center;
  padding: 10px;
}

.text_center {
  padding-top: 10px;
  text-align: center;
}

.link_style {
  color: #3967ff;
}

.fix_link_style_btn {
  color: white;
}

.page_title {
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
}

.page_title2 {
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  padding: 10px 0;
}

.page_subtitle {
  font-size: large;
  font-family: "Poppins", sans-serif;
}

select option {
  height: 30px;
}

.btn {
  background-color: #3967ff;
  border: none;
  height: 47px;
  border-radius: 3px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.inline_block {
  display: inline;
}

/* .invite_user {
  margin-top: 10px;
}

.invite_user input {
  display: inline;
  width: 85%;
} */

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 24px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3967ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3967ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.error-message {
  width: 100%;
  height: 47px;
  background-color: rgb(255, 210, 210);
  border: 1px solid rgb(255, 122, 122);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.filter {
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f1f1f1;
  align-items: center;
  z-index: 1;
}

.push-down {
  position: relative;
  padding-top: 50px;
}

.filter label {
  padding-right: 10px;
}

.filter form {
  width: 40%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-right: 5px;
}

form.pick_gift {
  padding: 20px 0;
}

.three_button {
  display: flex;
}

.share {
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}



.sort a {
  color: #3967ff;
  padding-right: 10px;
}

hr.solid {
  border: 0.01em solid rgb(233, 233, 233);
  margin-top: 10px;
  margin-bottom: 10px;
}

.gift-info {
  position: relative;
  
  justify-content: center;
  align-items: center;
}


.gift-price {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  text-align: right;
}