
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
input {
  border: 1px solid rgb(194, 194, 194) ;
  padding: 15px;
  border-radius: 3px;
}

textarea {
  border: 1px solid rgb(194, 194, 194) ;
  padding: 15px;
  border-radius: 3px;
}


select {
  border: 1px solid rgb(194, 194, 194) ;
  padding: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
}


.container {
  margin:10px;
  padding-top:50px;
}

#page_title {
  align-self: center;
}

/* .btn {
  height: 120px;
  width: 500px;
  background-color: #2BBFFF;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
} */

.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #3967ff;
  display: flex;
  
  
}

.header__button {
  flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #3967ff;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}

.list-container{
  border: 1px solid rgb(194, 194, 194) ;
  display: flex ;
  justify-content: space-between;
  padding: 10px ;
  margin: 10px ;
  border-radius: 3px;
  color: rgb(26, 26, 26);
}

.list-container:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.red {
  color: rgb(255, 122, 122);
}

.gift_list{
  border: 1px solid rgb(194, 194, 194) ;

  color: rgb(26, 26, 26);
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.gift_list:hover {
  cursor: pointer;
}

.gift_image {
  object-fit: cover;
  height: 150px;
  width: 150px;
}


.bought {
  padding:2px;
  background-color: rgb(132, 206, 132);
  color: #ffffff;
  width: fit-content+2px;
  border-radius: 2px;
}

.not-bought {
  background-color: rgb(142, 216, 226);
  color: black;
  width: fit-content+2px;
  border-radius: 2px;
}

.create_list {
  display: fixed;
  position: fixed;
  background-color: #3967ff;
  padding: 10px ;
  margin: 10px ;
  border-radius: 3px;
  bottom: 0px;
  text-align: center;
}


.add_gift select {
  width: 80%;
  border-radius: 3px 0 0 3px;
  color: rgb(26, 26, 26);
  padding: 5px;
}

.add_gift button {
  width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
}



.add_gift {
  width: 100%;
  display: flex;
}


.form_style {
  padding-top:10px;
  float: left;
}

.form_style input {
  width: 420px;
  height: 50px;
}

.form_style button {
  background-color:#3967ff;
  width: 50px;
  height: 50px;
}

.delete_list {
  color: white;
  position: fixed;
  background-color: rgb(255, 122, 122);
  padding: 10px ;
  margin: 10px ;
  border-radius: 3px;
  bottom: 0px;
  right: 0px;
}

.list_title {
  padding-bottom: 10px;
  text-align: center;
}

.create_list_form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

select {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
}

.create_gift {
  color: white;
  position: fixed;
  background-color: #3967ff;
  padding: 10px ;
  margin: 10px ;
  border-radius: 3px;
  bottom: 0px;
  left: 0px;
}

.btn_all_width {
  width: 100%;
  background-color:#3967ff;
  border: none;
  height: 47px;
  border-radius: 3px;
  color: white;
  margin-top: 10px;
}


.container_header {
  text-align: center;
  padding:10px;
}